node_modules/
dist/
.env
.DS_Store
*.log
.vscode/
.idea/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.stylelintcache
node_modules/
.npm
.eslintcache
.cache/
.parcel-cache/
.next/
.out/
.next/
.expo/
.turbo/
.vercel/
.netlify/
.cache/
.temp/
.tmp/
